<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ambulatory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .btn{
            font-size: 20px;
        }
        .headerText{
            text-align: center;
        }
    </style>
    <style th:insert="~{fragments/menu :: menu_css}"></style>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>

<table class="table">
    <thead>
    <tr class="table_header">
        <th scope="col">Дата</th>
        <th scope="col">Отделение</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ambulatory : ${ambulatories}" th:if="${ambulatory.billtrancode == 'HC'}">
        <th  scope="row"  th:text="${ambulatory.docdate}"></th>
        <td>
            <a class="btn btn-secondary" th:href="@{/patient/items/{id} (id = ${ambulatory.innerId})}" role="button">Изменить</a>
        </td>
    </tr>

    </tbody>
</table>


</body>
</html>