<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .btn{
            font-size: 20px;
        }
        .headerText{
            text-align: center;
        }
    </style>
    <style th:insert="~{fragments/menu :: menu_css}"></style>
    <script src="https://kit.fontawesome.com/aca93a0fac.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="~{fragments/menu :: menu}"></div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">ID случая</th>
        <th scope="col">Отделение</th>
        <th scope="col">Доктор</th>
        <th scope="col">Услуга</th>
        <th scope="col">Цена&nbsp;<a class="btn btn-secondary" th:href="@{/patient/update_price/{id} (id = ${it.innerId})}" role="button"><i class="fa-solid fa-dollar-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <th scope="row" th:text="${item.primaryKey}"></th>
        <th scope="row"  th:text="${item.innerId}"></th>
        <th scope="row"  th:text="${item.branchName}"></th>
        <th scope="row"  th:text="${item.doctorName}"></th>
        <th scope="row"  th:text="${item.itemName}"></th>
        <th scope="row"  th:text="${item.renprice}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>